<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID_OLD</key>
	<string>79E45C6E-9E87-4576-B028-609AE2902F01</string>
	<key>WebAPI_OLD</key>
	<string>http://testapp:8087/api/application/</string>
	<key>WebAPI</key>
	<string>http://testapp.visionit.lan:8088/api/application/</string>
	<key>ApplicationID</key>
	<string>558c4726-5657-4b7f-a5b8-2ed11e3e5606</string>
</dict>
</plist>
